<%= link_to('Add image', new_image_path) %>
<br/>
<%= content_tag(:p, 'Filter images by tag')%>
<% @tags.each do |tag| %>
  <%= link_to(tag, images_path(tag: tag), class: 'js-index-link') %>
<% end %>
<br/>
<% @images.each do |image| %>
  <%= image_tag(image.url, class: 'index-image') %>
  <div class="flex-container">
    <%= content_tag(:p, image.tag_list, class: 'flex-item') %>
    <%= link_to('Delete', image_path(image), method: :delete, data: { confirm: 'Delete?' }, class: 'flex-item') %>
  </div>
<% end  %>
